/* General styles
 **************************************************/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #4D4D4D;
}

a,a:hover,a:focus {
	text-decoration: none;
	outline: 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
/* mobile menu
 **************************************************/
.mobilemenu {
	position: fixed;
	top: 5px;
	left: 5px;
	right: 0;
	z-index: 1002;
	font-size: 30px;
	padding: 2px 10px;
	background: #2b2b2b;
	display: block;
	width: 50px;
	height: 50px;
	color: #fff;
	display: none;
	text-align: center;
}

.mobilemenu:hover,.mobilemenu:focus {
	color: #fff;
}


/* layout
 **************************************************/
#sidebar{
	position: fixed;
	width:250px;
	background: #2b2b2b;
	top: 0;
	left: 0;
	bottom: 0;
}

#sidebar-wrapper{
	position: relative;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#sidebar-inner{
  position: relative;
  min-height: 100%;
}

#main-nav {
	position: relative;
	text-align: left;
	width: 100%;
	padding-bottom: 0;

}

#main {
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fefefe;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.page {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 2000px;
	bottom: 0;
	width: 85%;
	background-color: #f7f7f7;
	-webkit-overflow-scrolling: touch;
}

.home {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	z-index: 1;
	width: 100%;
	background-color: #f7f7f7;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	right: 0px;
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	opacity: 0.25;
	display: none;
	z-index: 300;
	cursor: crosshair;
	cursor: url(../img/pointer.png), auto;
}

#runner {
	position: absolute;
	width: 30px;
	height: 20px;
	color: #fff;
	font-size: 20px;
	z-index: 2000;
}

.currentpage {
	-webkit-box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
	box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
}


/* sidebar
 **************************************************/
#nav-container {
	position: relative;
	padding-bottom: 70px;
}

#profile {
	text-align: center;
	padding: 30px 10px;
	position: relative;
}

#profile .portrate {
	background-image: url(../img/personal/personal-image.jpg);
	width: 125px;
	margin: 0 auto;
	height: 125px;
	border-radius: 50%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#profile .title h2 {
	font-size: 28px;
	font-weight: 300;
	color: #fff;
	margin: 20px 0 10px 0;
}

#profile .title h3 {
	font-size: 18px;
	font-weight: 300;
	color: #aaa;
	margin: 0px 0 10px 0;
}

ul#navigation {
	padding: 0;
	margin: 0;
}

ul#navigation > li {
	display: block;
	float: none;
	clear: both;
	background: #303030;
	border-top: 1px solid #373737;
	border-bottom: 1px solid #2B2B2B;
	cursor: pointer;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	transition: background 0.5s;
}

ul#navigation > li > a {
	color: #ccc;
	font-size: 14px;
}

ul#navigation li:hover,ul#navigation li:focus {
	background: #363636;
}

ul#navigation li:hover a,ul#navigation li:focus a {
	color: #f7f7f7;
}

ul#navigation .currentmenu {
	font-weight: bold;
}

ul#navigation li.currentmenu a {
	color: #fff;
}

/*ul#navigation li.external:hover .fa, ul#navigation li.currentmenu .fa{
	color: #03cc85;
}*/

ul#navigation li.currentmenu {
	background: #363636;
	border-top: 1px solid #3d3d3d;
	border-bottom: 1px solid #252525;
}


ul#navigation li .text {
	padding-left: 5%;
	margin-left: 50px;
	line-height: 45px;

	-webkit-box-shadow: -3px 0 5px -4px #000;
	box-shadow: -3px 0 5px -4px #000;
}

ul#navigation li .fa {
	float: left;
	line-height: 45px;
	width: 50px;
	text-align: center;
	font-size: 27px;
}

#sidebar-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #202020;
	border-top: 1px solid #1A1A1A;
	text-align: center;
  	overflow: hidden;
}

.social-icons ul {
	padding: 0 20px;
	margin: 0;
	list-style: none;
	text-align: center;
}

.social-icons li {
	/* float: left; */
	/* width: 33%; */
	padding: 5px;
	text-align: center;
	display: inline-block;
}

.social-icons a {
	color: #ccc;
}

.social-icons a:hover,.social-icons a:focus {
	color: #fff;
}

.social-icons i {
	font-size: 16px;
}

#copyright{
	text-align:center;
	font-size:0.7em;
	color: #8E8E8E;
	margin-bottom: 5px;
}
/* page specifics
 **************************************************/
.page-container {
	position: relative;
}

.pageheader {
	background: #f3f3f3;
	position: relative;
	padding: 60px 0 45px 0;
}

.pageheader:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(8, 4, 13, 0);
	border-top-color: #f3f3f3;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
}

.headercontent .title {
	font-size: 50px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	padding: 0 0 20px 0;
}
.headercontent .title.noborder{
	border:none;
}
.headercontent .subtitle {
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px 0;
}

.headercontent .subtitle h3 {
	margin: 0;
	padding: 0;
}

.page .section{
	padding: 70px 0;
	position: relative;
}

.section-container {
	padding: 0 10%;
}

.color-1 {
	background: #fcfcfc;
}

.color-2 {
	background: #f7f7f7;
}

.color-3 {
	background: #2c2c2d;
	color: #fff;
}

.color-4 {
	background: #000;
}

.section .title {
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
	padding: 20px 0;
}

.section .title h3 {
	padding: 0;
	margin: 0;
	font-size: 26px;
}


.biothumb{position: relative;}
.biothumb .overlay{
	position: absolute;
	width: 100%;
	color:#fff;
	bottom: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
	padding:25px;
}
.biothumb .overlay h1{
	font-size: 45px;
}

.fixedbg{
	padding: 70px 0;
    position: relative;
    margin: 0;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.fixedbg.parallax{
    background-attachment: fixed !important;
}

.fixedbg .heading{
	font-size: 28px;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    font-style: normal;
}

/*************************************************
 *  uls
 **************************************************/
.ul-bolded li {
	font-weight: bold;
}

.ul-boxed li {
	padding: 7px;
	background-color: #FdFdFd;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
	border-left: 5px solid;
}

/* ul-card
 **************************************************/
ul.ul-card {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ul-card li {
	position: relative;
	padding: 50px 15px 20px 15px;
	background-color: #fff;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
	margin-left: 10px;
	color: #333;
}

ul.ul-card li .dy {
	position: absolute;
	top: 10px;
	left: -10px;
	border-radius: 0px;
	padding: 0;
	color: white;
}

ul.ul-card li .dy span {
	padding: 7px 10px;
	line-height: 30px;
	margin: 0;
}

/*ul.ul-card li .dy .degree {
	background-color: #03bb7a;
}*/

ul.ul-card li .dy .year {
	/*background-color: #03cc85;*/
	-webkit-box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
	box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
	margin-left: -3px !important;
}

ul.ul-card li .description p {
	font-size: 16px;
	margin: 0;
}

ul.ul-card li .description p.where {
	font-weight: 300;
	font-size: 14px;
}

/* ul-dates
 **************************************************/
ul.ul-dates,ul.ul-dates-gray {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.ul-dates li,ul.ul-dates-gray li {
	margin-bottom: 15px; /*margin-left:  20px;
	*/
}

ul.ul-dates div.dates,ul.ul-dates-gray div.dates {
	float: left;
	width: 75px;
}

ul.ul-dates div.dates span,ul.ul-dates-gray div.dates span {
	/*background-color: #03cc85;*/
	padding: 6px;
	display: block;
	text-align: center;
	color: #fff;
	position: relative;
}

ul.ul-dates-gray div.dates span {
	background-color: #BBBBBB !important;
}

/*ul.ul-dates div.dates span:last-child {
	background-color: #03bb7a;
}*/

ul.ul-dates-gray div.dates span:last-child {
	background-color: #979797 !important;
}

ul.ul-dates-gray div.dates span:first-child,
ul.ul-dates div.dates span:first-child {
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	z-index: 3;
	position: relative;
}

ul.ul-dates div.content,ul.ul-dates-gray div.content {
	margin-left: 90px;
	min-height: 70px;
	padding-top: 10px;
}

ul.ul-dates div.content h4,ul.ul-dates-gray div.content h4 {
	font-weight: 400;
	font-size: 16px;
	margin-top: 0;
}

ul.ul-dates div.content p,ul.ul-dates-gray div.content p {
	font-size: 13px;
}



/* ul-timeline
 **************************************************/
ul.timeline {
	border-left: 8px solid #FFF;
	list-style: none;
	padding: 1px 0;
	margin-left: 100px;
}

ul.timeline li .date {
	float: left;
	padding: 10px 15px 10px 10px;
	margin-top: 10px;
	margin-left: -115px;
	font-size: 15px;
	width: 110px;
	text-align: center;
	/*background: #03cc85;*/
	color: #fff;
}

/*ul.timeline li.open .data {
	background: #03bb7a;
}*/

ul.timeline li .circle {
	float: left;
	margin: 20px 0;
	margin-left: -14px;
	width: 20px;
	height: 20px;
	border: 4px solid #FFFFFF;
	border-radius: 10px;
	background-color: #d5d5d5;
}

ul.timeline li.open .circle {
	/*background-color: #03bb7a;*/
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}

ul.timeline li .data {
	background: #fdfdfd;
	margin: 10px 0px 10px 20px;
	border-left: 10px solid;
	padding: 18px 20px;
	font-size: 16px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

ul.timeline li.open .data {
	/*border-color: #03bb7a;*/
	background: #fff;
}

ul.timeline li .data .subject {
	cursor: pointer;
	color: #777;
	font-size: 18px;
}

ul.timeline li .data .text {
	display: none;
	margin-top: 15px;
	font-size: 14px;
}

/* ul-withdetails
 **************************************************/
.ul-withdetails {
	list-style: none;
	padding: 0;
}

.ul-withdetails li {
	background-color: #FdFdFd;
	margin-bottom: 15px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

.ul-withdetails li .image {
	position: relative;
	overflow: hidden;
}

.ul-withdetails li .imageoverlay {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	/*background: #03cc85;*/
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;

	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}

.ul-withdetails li .imageoverlay i {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 30px;
}

.ul-withdetails li .meta {
	overflow: hidden;
	padding: 20px;
	cursor: pointer;
}

.ul-withdetails li .details {
	display: none;
	padding: 20px;
	background: #fff;

	-webkit-box-shadow: inset 0px 3px 5px -3px #ccc;
	box-shadow: inset 0px 3px 5px -3px #ccc;
}

/*************************************************
 * lab partnerts
 **************************************************/
#labp-heads-wrap {
	/*background-color: #03bb7a;*/
	position: relative;
	height: 180px; 
}

#labp-heads-wrap:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 103, 103, 0);
	/*border-top-color: #03bb7a;*/
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

#lab-carousel {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

#lab-carousel div {
	float: left;
	width: 100px;
	height: 100px;
}

#lab-carousel img {
	border: none;
	position: relative;

	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.caroufredsel_wrapper {
	margin-top: -10px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

#labp-heads-wrap #next,#labp-heads-wrap #prev {
	position: absolute;
	top: 0;
	height: 100%;
	line-height: 180px;
	padding: 0 10px;
	color: #f7f7f7;
	font-size: 30px;
	z-index: 4;
}

#labp-heads-wrap #next {
	right: 0;
}

#labp-heads-wrap #prev {
	left: 0;
}

#labp-heads-wrap #prev.disabled,#labp-heads-wrap #next.disabled {
	color: #ccc;
	cursor: default;
}

#lab-details {
	background-color: #fff;
	padding: 20px;
	padding-top: 40px;
	text-align: center;
	min-height: 150px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
}

#lab-details div {
	display: none;
}

#lab-details h3 {
	margin-top: 0;
}

/* filter dropdowns
 **************************************************/
#filters,.filters,#pub-grid {
	padding: 20px 0 30px 0 !important;
}

#filters h3,.filters h3,div#sort {
	margin-top: 30px;
}

#sort span {
	line-height: 30px;
}

.stuck {
	position: fixed !important;
	z-index: 1001;
	top: 0;
	right: 0;

	-webkit-box-shadow: 0px 2px 4px 0px #cecece;
	box-shadow: 0px 2px 4px 0px #cecece;
}

.cd-dropdown,.cd-select {
	position: relative;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #999;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 10px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 8px;
	height: 70%;
	line-height: 24px;
}

.cd-dropdown.cd-active > span:after {
	content: '';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown > span,.cd-dropdown ul li:nth-last-child(-n+3) span {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

/*.cd-active.cd-dropdown > span {
	color: #03cc85;
}*/

.cd-active.cd-dropdown > span,.cd-active.cd-dropdown ul li span {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	/*background: #03cc85;*/
	color: #fff;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fafafa;
	line-height: 40px;
	padding: 0 10px 0 30px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
}

/* publications
 **************************************************/
#pub-grid .mix {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	display: none;
}

.pitems .item {
	margin-bottom: 20px;
	width: 100%;
}

.pitems .pubmain {
	background: #fefefe;
	padding: 25px 25px 35px 25px;
	min-height: 130px;
	position: relative;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	cursor: pointer;
}

.pitems .pubtitle {
	margin: 0;
	padding: 0 0 15px 0;
	font-size: 20px;
	font-weight: 300;
}

.pitems .pubmain div {
	font-size: small;
}

.pitems .pubmain .label {
	margin-right: 10px;
}

.pitems .pubmain .pubassets {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fafafa;
	text-align: center;
	border-top: 2px solid;
}

.pitems .pubmain .pubassets a {
	color: #9b9b9b;
	padding: 5px 15px;
	float: right;
	font-size: 18px;
}

.pitems .pubmain .pubassets a:hover,.pitems .pubmain .pubassets a:focus,.pitems .pubmain .pubassets a.pubcollapse {
	/*background: #03cc85;*/
	color: #fff;
}

.pitems .pubdetails {
	background: #fff;
	padding: 25px;
	display: none;
}
/* Gallery
 **************************************************/
#gallery-header {
	_color: #f7f7f7;
}

#gallery-header h2 {
	font-size: 50px;
	text-align: center;
}

#gallery-large {
	_background: #303030;
	padding-top: 20px;
}

ul.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

ul.grid li {
	display: block;
	float: left;
	padding: 15px;
	width: 33%;
}

@media screen and (max-width: 900px) {
	ul.grid li {
		width: 50%;
	}

}

@media screen and (max-width: 400px) {
	ul.grid li {
		width: 100%;
	}

}

ul.grid li >div {
	-webkit-box-shadow: 0 0 8px -1px #000;
	box-shadow: 0 0 8px -1px #000;
	overflow: hidden;
	position: relative;
}

ul.grid li .over {
	position: absolute;
	bottom: -100%;
	width: 102%;
	right: -1%;
	left: -1%;
	color: #fff;
}

ul.grid li .comein {
	position: relative;
	z-index: 1;
	padding: 15px;
	height: 100%;
}

ul.grid li .comein i {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -30px;
	font-size: 22px;
	color: #FFF;

	-webkit-box-shadow: 0 0 60px #fff;
	box-shadow: 0 0 60px #fff;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 17px;
	border-radius: 50%;
}

ul.grid li .comein-bg {
	-khtml-opacity: .70;
	-moz-opacity: .70;
	-ms-filter: ”alpha(opacity=70)”;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
	filter: alpha(opacity=70);
	opacity: .70;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	z-index: -1;
}

ul.grid li a,ul.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* at start */
.my-mfp-slide-bottom .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}


/* contanct
 **************************************************/
.contact-office {
	background: #fff url('../img/contact-bg-1.png') no-repeat;
}

.contact-lab {
	background: #fff url('../img/contact-bg-2.png') no-repeat;
	color: #fff;
}

/*.contact-office .icon-huge, .contact-lab .icon-huge{
	color: #03cc85;
}*/


.icon-huge {
	font-size: 170px;
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	display: block;
	padding-top: 30px;
}

@media (max-width: 500px) {
	ul.timeline {
		margin: 0;
		border-left: none;
	}

	ul.timeline .circle {
		display: none;
	}

	ul.timeline .data {
		margin: 0 !important;
		margin-bottom: 10px !important;
		padding-top: 65px !important;
	}

	ul.timeline .date {
		margin-left: 0 !important;
	}

	#sidebar{
		width: 100%;
	}

	#sidebar-wrapper{
		overflow: auto;
	}

}

@media (max-width: 991px) {
	.mobilemenu {
	display: block;
	}

	.social-icons,#main-nav {
		left: 0px;
		z-index: 0;
	}

	#main {
		left: 0;
	}

}


/* fix for mobile view of pages */
@media screen and (max-width: 770px) {
	 
	 #blog-content{
	 	width:100% !important;
	 }
	 .page{
	 	width:100% !important;
	 	left:0 !important;
	}

	.headercontent .title{
		font-size: 30px;
	}
	
}

}

/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	background:	#fff;
	font-family: 'Open Sans', sans-serif;
}
h4, h5, h6,
h1, h2, h3 {
margin: 0;
font-family: 'Acme', sans-serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;

}
body a:hover{
	text-decoration:none;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 28px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- resume --*/
.header-top{
	background:#10A7AF;
	padding:20px 0;
}
.header-top ul li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
	outline:none;
}
.header-top ul li a span {
    margin-right: 7px;
}
.header-top ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}
.header {
    background: #f7f7f7;
    padding: 30px 0;
    border-bottom: 5px solid #E4E4E4;
}
.header-left {
    padding: 0;
}
.pro-pic {
    width: 27%;
}
.pro-pic img {
    border: 2px solid #10A7AF;
    padding: 12px;
    background: #fff;
}

.pro-text h1 {
    font-size: 35px;
    margin: 23px 0 24px;
    color: #10A7AF;
    text-transform: uppercase;
}
.pro-text p {
    font-size: 15px;
    color: #fff;
}
.header-right ul li {
    font-size: 14px;
    line-height: 3em;
    list-style-type: none;
    color: #fff;
}
ul.list-left {
    float: left;
    width: 27%;
}
ul.list-right {
    float: left;
    width: 73%;
}
ul.list-left li {
    font-weight: 700;
    color: #10A7AF;
}
.header-right ul li a {
    color: #fff;
    text-decoration: none;
}
.header{
    background: url(../images/pic2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

/*-- //resume --*/
.about {
    padding: 90px 0 0;
    border-bottom: 5px solid #E4E4E4;
}
h3.tittle {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    color: #10A7AF;
}
p.abt-para {
    color: #464646;
    line-height: 2.2em;
    text-align: center;
    font-size: 14px;
    width: 75%;
    margin: 0 auto 50px;
}
.abt-left{
	background:#f7f7f7;
}
.abt-right{
    background: url(../images/pic3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
	min-height:610px;	
}
.abt-gd-left {
    padding-top: 200px;
}
/*--pie-chart---*/
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
}
h3.tittle:after, h3.tittle:before {
    border: 4px double #c2c2c2;
    width: 120px;
    display: inline-block;
    content: "";
    margin: 9px 10px;
}

.pie-value {
    display: block;
    position: absolute;
    font-size: 28px;
    top: 27%;
    left: 0;
    right: 0;
    color: #fff;
}
.abt-gd-left h4 {
    margin-top: 40px;
    color: #10A7AF;
    font-weight: 100;
    font-size: 22px;
}
.abt-left {
    padding: 120px 100px 0;
	min-height:610px;
}
.abt-left h2 {
    font-size: 32px;
    color: #10A7AF;
    margin-bottom: 45px;
}
/*-- //about--*/
/*-- Accordion --*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	background:#f7f7f7;
    border: 1px solid #CACACA;
}
/*----- Section Titles -----*/
.accordion-section-title {
    width: 100%;
    display: inline-block;
    border-bottom:1px solid #CACACA;
    background: #fff;
    transition: all linear 0.15s;
    font-size: 20px;
    color: #464646;
    text-indent: 2em;
	text-decoration:none;
    padding: 31px 0;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
}

.accordion-section-title.active, .accordion-section-title:hover,.accordion-section-title.focus {
    color: #464646;
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
border-bottom: none;
}
.accordion-section-content.open{
    border-top: 1px solid #cacaca;	
}
.accordion-section-content {
    padding: 15px 15px;
    display: none;
    border: none;
    border-bottom: 1px solid #cacaca;
    background: #fff;
    text-decoration: none;
    text-indent: 2em;
}
.accordion p {
    color: #464646;
    font-size: 14px;
    line-height: 1.8em;
}
.accordion i {
    float: right;
    margin:4px 20px 0 0;
    color: #000;
    font-size: 13px;
}
a.accordion-section-title span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 9px 14px 0;
    color: #929292;
}
.accordion-section h6 {
    font-size: 20px;
    margin-bottom: 15px;
}
.accordion-section ul li {
    list-style-type: none;
    line-height: 2em;
    font-size: 14px;
    color: #464646;
}
.accordion-section ul li a{
    color: #464646;
	text-decoration:none;	
}
.accordion-section ul li span {
    margin-right: 14px;
    color: #10A7AF;
    font-weight: 100;
}
/*-- Section Content --*/
/*-- employment --*/
.employment{
	padding:90px 0;
}

.employ-right h5 {
    font-size: 22px;
    color: #10A7AF;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.employ-right h5 span {
    color: #fff;
    background: #b1b1b1;
    font-size: 14px;
    padding: 10px 10px;
    margin-right: 30px;
}
.employ-right {
    border: 1px solid #B1B1B1;
    padding: 42px 35px 0px 0px;
    border-right: none;
    min-height: 200px;
    border-top: none;
}
.employ-right p {
    padding-left: 4.8em;
    color: #464646;
    line-height: 2.2em;
    font-size: 14px;
}
.employ-left2 p {
    padding-right: 4.8em;
    color: #464646;
    line-height: 2.2em;
    font-size: 14px;
	text-align:right;
}
.employ-left h4 {
    text-align: right;
    font-size: 86px;
    color: #000;
    font-style: italic;
}
.employ-left{
    padding: 53px 35px 0px 0px;
    min-height: 200px;
}
.employ-left2{
    padding: 42px 0px 0px 35px;
    border: none;
    border-bottom: 1px solid #B1B1B1;
    border-top: 1px solid #B1B1B1;
    min-height: 200px;
}
.employ-left2 h5 {
    text-align: right;
    font-size: 22px;
    color: #10A7AF;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.employ-left2 h5 span {
    color: #fff;
    background: #b1b1b1;
    font-size: 14px;
    padding: 10px 10px;
    margin-left: 30px;
}
.employ-right2 h4 {
    font-size: 86px;
    color: #000;
    font-style: italic;
}
.employ-right2 {
    padding: 53px 0px 0px 35px;
    border-left: 1px solid #B1B1B1;
    min-height: 200px;
    border-bottom: 1px solid #B1B1B1;
}
.border-emp{
	border-top: 1px solid #B1B1B1;
	border-bottom: 1px solid #B1B1B1;
}
/*-- //employment --*/
/*-- numscroller --*/
.num-scroller{
    background: url(../images/pic7.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 500px;	
	padding-top:90px; 
}
.numscroller {
    color: #fff;
    font-size: 25px;
    border: 4px solid #fff;
    width: 146px;
    height: 146px;
    border-radius: 100%;
    line-height: 136px;
    margin: 0 auto;
}
.capabil-grid p {
    margin-top: 45px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
/*-- //numscroller --*/
.portfolio{
	padding:90px 0;
    border-bottom: 5px solid #E4E4E4;
}
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.resp-tabs-list {
	text-align:center;
    list-style: none;
    margin: 3em 0 4em 0;
    padding: 0;
}
.resp-tab-item{
    margin: 0 25px;
    padding: 0 35px 25px 35px;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-transform: Capitalize;
    font-weight: 600;
}
.resp-tab-active,.resp-tab-item:hover{
	color: #333;
    border-bottom:2px solid #10A7AF;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

.thumb {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.thumb:before, .thumb:after {
    content: "";
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 6;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    box-shadow: none;
}
.thumb:before {
    top:28px;
    left:28px;
    right: 100%;
    bottom: 100%;
    border-top: 3px solid #10A7AF;
    border-left: 3px solid #10A7AF;
}
.thumb:hover:before {
    opacity: 1;
    bottom: 0;
    right: 0;
}
.thumb:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.thumb img {
    -webkit-transition: 0.35s all ease;
    transition: 0.35s all ease;
	width:100%;
}
.thumb .team_pos {
    position: absolute;
    background:rgba(0, 0, 0, 0.41);
    width: 100%;
    bottom: -84px;
    left: 0;
    margin-top: 0px;
    padding: 6px 0;
    text-align: center;
}
.thumb:after {
    left: 100%;
    top: 100%;
    bottom:28px;
    right:28px;
    border-bottom: 3px solid #10A7AF;
    border-right: 3px solid #10A7AF;
}
.thumb:hover:after {
    opacity: 1;
    left: 0;
    top: 0;
}
.thumb:hover .team_pos {
    top: 0;
}
.thumb:hover ul li {
    margin: 77px 0px 0;
}
.team ul li {
    display: inline-block;
    margin: 11px 5px 0;
    width: 14%;
}
.pic {
    overflow: hidden;
    margin: auto;
}
.fb_icon1 {
    background: url(../images/search.png) no-repeat 2px 1px #000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.modal-header {
    border: none;
}
button.close{
	outline:none;
}
.modal-dialog {
    width: 600px;
    margin: 13em auto 0;
}
.port-modal{
	background:none;
	box-shadow:none;
	border:none;
}
div#portfolioModal1,div#portfolioModal2,div#portfolioModal3,div#portfolioModal4,div#portfolioModal5,div#portfolioModal6,div#portfolioModal7,div#portfolioModal8,div#portfolioModal9,div#portfolioModal10 {
    background: rgba(0, 0, 0, 0.55);
}
/*-- portfolio --*/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
	font-size: 35px;
}
#portfolio * {
    z-index: 2;
}
@media(min-width:767px) {
    #portfolio .portfolio-item {
    margin: 0 0 30px;
    }
}

.portfolio-modal .modal-content h3 {
    margin: 0 0 44px 0px;
    font-size: 2em;
    color: #fff;
}
.portfolio-modal .modal-content img {
    margin: 0 auto;
}
.portfolio-modal .modal-content p {
	font-size: 14px;
    padding: 2em 0;
    line-height: 1.8em;
    color: #fff;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}
.portfolio-modal .close-modal:hover {
    opacity: .7;
}
.col-lg-offset-2 {
    margin-left: 0;
	margin:30px auto 0;
	float:none;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.yes_marg{
	margin-top:30px;
}
/*-- //portfolio --*/
/*-- skills --*/
.more {
    padding: 90px 0;
}
.progress p{
	float:right;
	margin-right:10px;
	font-weight:600;
	color:#464646;
	font-size:15px;
}
.progress {
    height: 35px;
    background-color: #eee;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    line-height: 32px;
    margin-bottom: 35px;
}
.progress-bar {
    font-size: 16px;
    line-height: 34px;
    -webkit-box-shadow: none;
    box-shadow: none;
	font-weight:500;
}
.progress-bar-success {
    background-color: #189AB7;
}
.progress-bar-warning {
    background-color: #1AAFD0;
}
.progress-bar.progress-bar-success1 {
    background: #580F71;
}
.progress-bar.progress-bar-warning1 {
    background: #773A8C;
}
.progress-bar.progress-bar-success2 {
    background: #B16119;
}
.progress-bar.progress-bar-warning2 {
    background: #ff7900;
}
.progress-bar.progress-bar-success3 {
    background: #3F751F;
}
.progress-bar.progress-bar-warning3 {
    background: #41980E;
}
.progress-bar.progress-bar-success4 {
    background: #7D0E0E;
}
.progress-bar.progress-bar-warning4 {
    background: #BD0000;
}
.no-marg{
	margin:0;
}
.more h3,.contact h3{
	margin-bottom:70px;
}
.more-left span {
    color: #949494;
    font-size: 37px;
}
.more-left{
    text-align: center;
    padding: 0;
    margin-top: 45px;
}

.more-right h4,.more-right2 h4 {
    color: #000;
    font-size: 25px;
    margin-bottom: 12px;
}
.more-right2 h4 ,.more-right2 p{
text-align:right;	
}
.more-right {
    border-left: 3px solid #C7C7C7;
    padding: 10px 10px 10px 22px;
}
.more-right2 {
    border-right: 3px solid #C7C7C7;
    padding: 10px 22px 10px 10px;
}
.more-right p ,.more-right2 p{
    font-size: 14px;
    line-height: 1.8em;
    color: #464646;
}
.scrollbar {
    height: 314px;
    background: #fff;
    overflow-y: scroll;
    padding: 0em 0em 0;
}
/*-- //skills --*/
/*-- contact --*/
.contact {
    background: #272727;
    padding: 90px 0;
}
.contact-right iframe {
    width: 100%;
    height: 588px;
}
p.copy-right {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}
p.copy-right a{
    color: #fff;
	text-decoration:none;	
}
p.copy-right a:hover{
    color: #10A7AF;	
}
.contact-form ul li i{
	color: #999;
    border: 1px solid #999;
    padding:.5em;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
    margin-right: 1em;
}
.contact-form ul li{
	margin-bottom:10px;
}
.contact-form {
    padding: 40px 50px;
    border: 1px solid #808080;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #10A7AF;
    border: none;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0px;
}
.nav > li > a {
    color: #fff;
    font-size: 16px;
}
.nav-tabs {
    border-bottom: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #10A7AF;
}
.contact-form ul li {
    list-style-type: none;
    font-size: 14px;
    color: #fff;
}
.contact-form ul li a{
    color: #fff;
	text-decoration:none;
}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 12px 10px;
    margin-bottom: 30px;
    outline: none;
    font-size: 14px;
	resize:none;
}
.contact-form input[type="submit"]{
outline:none;
font-size:16px;
color:#fff;
background:#10A7AF;
padding:8px 15px;
border:none;
}
.contact-form input[type="submit"]:hover{
color:#10A7AF;
background:#fff;	
}
.contact-form textarea{
	min-height:105px;	
}
.contact-form ul {
    margin-bottom: 30px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.contact-form input#uploadFile{
    width: 75%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    padding: 12px 10px;
    margin-bottom: 30px;
    outline: none;
    font-size: 14px;
}
.fileUpload.btn-primary {
    color: #fff;
    background:none;
    border: 1px solid #10A7AF ;
    outline: none;
}
.fileUpload.btn-primary:hover {
	border: 1px solid #fff ;
	color:#10A7AF ;
}
.fileUpload.btn {
    padding: 9px 18px;
	border-radius:0px;
}
/*-- //contact --*/
/*-- responsive media queries --*/

@media (max-width: 1440px){
	.thumb:hover ul li {
		margin: 73px 0px 0;
	}	
}
@media (max-width: 1366px){
	.abt-left {
		padding: 90px 80px 0;
		min-height: 565px;
	}
	.abt-right {
		min-height: 565px;
	}
	.accordion-section-title {
		padding: 27px 0;
	}
}
@media (max-width: 1280px){
	.accordion-section-title {
		font-size: 18px;
		text-indent: 1em;
	}
	.thumb:hover ul li {
		margin: 72px 0px 0;
	}	
}
@media (max-width: 1080px){
	.header-right {
		padding: 0;
		width: 38%;
		float:left;
	}
	.header-left {
		float:left;
		width: 61%;
	}
	.pro-pic {
		width: 34%;
	}
	.abt-left {
		padding: 56px 28px 0;
		min-height: 520px;
	}
	.abt-right {
		min-height: 520px;
	}
	.abt-gd-left {
		padding-top: 170px;
	}
	.pie-value {
		font-size: 20px;
		top: 36%;
	}
	.employ-right p ,.employ-left2 p,p.abt-para,.pro-text p,ul.list-left li,.header-right ul li{
		font-size: 13px;
	}	
	.abt-gd-left h4 {
		font-size: 19px;
	}
	.numscroller {
		font-size: 25px;
		width: 127px;
		height: 127px;
		line-height: 118px;
	}
.thumb:hover ul li {
    margin: 49px 0px 0;
}
	.progress-bar {
		font-size: 13px;
	}
	.more-right p, .more-right2 p,.contact-form ul li {
		font-size: 13px;
	}
	.contact-form input#uploadFile {
		width: 67%;
	}
}
@media (max-width: 1024px){
	h3.tittle {
		font-size: 34px;
	}
	.employ-left h4,.employ-right2 h4{
		font-size: 68px;
	}
	.about {
		padding: 70px 0 0;
	}
	.employment,.portfolio,.more,.contact {
		padding: 70px 0;
	}
	.num-scroller {
		min-height: 462px;
	}
	.capabil-grid p {
		font-size: 17px;
	}
	div#ascrail2001 {
		height: 256px !important;
	}	
}
@media (max-width: 991px){
	.header-right {
		width: 47%;
	}
	.pro-text {
		padding: 0;
	}
	.pro-pic {
		padding-left: 0;
	}
	.header-left {
		float: left;
		width: 53%;
	}
	.pro-pic {
		width: 44%;
	}
	p.abt-para {
		width: 100%;
	}
	.abt-left ,.abt-right{
		float: left;
		width: 50%;
	}
	.accordion-section-title {
		font-size: 16px;
		text-indent: 1em;
	}
	.accordion-section-title {
		padding: 22px 0;
	}
	.abt-left {
		min-height: 483px;
	}
	.abt-right {
		min-height: 483px;
	}	
	h3.tittle:after, h3.tittle:before {
		width: 87px;
	}
	.abt-gd-left {
		padding-top: 152px;
	}
	.employ-left,.employ-left2 {
		float: left;
		width:50%;
	}
	.employ-right,.employ-right2 {
		float: right;
		width:50%;
	}
	.employ-right {
		padding: 30px 0px 0px 0px;
	}
	.employ-left2 {
		padding: 30px 0px 0px 0px;
	}
	.capabil-grid{
		float: left;
		width: 25%;
	}
	.team-gd {
		float: left;
		width: 25%;
		padding: 0 6px;
	}
	.yes_marg {
		margin-top: 12px;
	}
	.resp-tab-item {
		margin: 0 12px;
	}
	.resp-tabs-list {
		margin: 1em 0 4em 0;
	}
	.skill-left {
		float: left;
		width: 50%;
		padding: 0;
	}
	.skill-right {
		float: left;
		width: 50%;
		padding-right:0;
	}
	div#ascrail2001 {
		height: 304px !important;
	}
	.progress-bar {
		font-size: 12px;
	}
	.contact-left {
		float: left;
		width: 50%;
		padding-left: 0;
	}
	.contact-right {
		float: left;
		width: 50%;
		padding-right: 0;
	}
	.contact-form {
		padding: 40px 27px;
	}
	.contact-form input#uploadFile {
		width: 62%;
	}
	.thumb:hover ul li {
    margin: 33px 0px 0;
}
}
@media (max-width: 800px){
	.pro-text h1 {
		font-size: 29px;
	}
	.abt-left, .abt-right {
		float: left;
		width: 100%;
	}
	.abt-left {
		min-height: 380px;
	}
	.abt-gd-left {
		padding-top: 70px;
	}
	.abt-right {
		min-height: 312px;
	}
	.resp-tab-item {
		padding: 0 17px 17px 17px;
	}
	.thumb:before {
		top: 12px;
		left: 12px;
	}
	.thumb:after {
		bottom: 12px;
		right: 12px;
	}	
	.thumb:hover ul li {
		margin: 43px 0px 0;
	}
	.skill-left {
		float: left;
		width: 100%;
	}
	.skill-right {
		float: left;
		width: 100%;
		padding: 0;
		margin-top: 55px;
	}
	.contact-left ,.contact-right{
		float: left;
		width: 100%;
		padding: 0;
	}
	.contact-right{
		margin-top:50px;
	}
	.contact-right iframe {
		width: 100%;
		height: 292px;
	}
	.contact-form input#uploadFile {
		width: 82%;
	}
	.thumb:hover ul li {
    margin: 30px 0px 0;
}
}
@media (max-width: 768px){
	.thumb:hover ul li {
		margin: 35px 0px 0;
	}	
}
@media (max-width: 736px){
	.more-left {
		float: left;
		width: 14%;
	}
	.more-right{
		float: left;
		width: 86%;	
	}
	.pro-pic {
		width: 44%;
		float: left;
	}
	.pro-text {
		padding: 0;
		float: left;
		width: 55%;
	}
	.abt-gd-left {
		float: left;
		width: 33%;
	}
	.numscroller {
		font-size: 18px;
		width: 103px;
		height: 103px;
		line-height: 99px;
	}
	.num-scroller {
		padding-top: 70px;
		min-height: 377px;
	}
	.more-right2 {
		float: left;
		width: 86%;
	}

}
@media (max-width: 667px){
	.header-left {
		float: left;
		width: 100%;
	}
	.header-left {
		float: left;
		width: 44%;
	}
	.header-right {
		width: 56%;
	}
	.pro-pic {
		width: 50%;
		float: left;
	}
	.pro-text {
		padding: 0;
		float: left;
		width: 47%;
	}
	.pro-pic img {
		padding: 7px;
	}
	.pro-text h1 {
		font-size: 25px;
		margin: 8px 0 16px;
	}
	.employ-right p {
		padding-left: 3.8em;
	}
	.employ-right h5 span {
		margin-right: 15px;
	}
	.capabil-grid p {
		font-size: 14px;
	}
	.team-gd {
		float: left;
		width: 33.3333%;
	}
	.thumb:hover ul li {
		margin: 46px 0px 0;
	}
	.contact-form input#uploadFile {
		width: 79%;
	}
	.portfolio-modal .modal-content p {
		font-size: 13px;
	}
.team-gd {
    margin-top: 13px;
}	
}
@media (max-width: 640px){
	.thumb:hover ul li {
    margin: 40px 0px 0;
}
}
@media (max-width: 600px){
	.employ-left{
		float: left;
		width: 27%;
	}	
	ul.list-right {
		float: left;
		width: 75%;
	}
	ul.list-left {
		float: left;
		width: 25%;
	}
	.employ-right {
		float: right;
		width: 71%;
		border-bottom: none;
	}
	 .employ-left2 {
		float: left;
		width: 71%;
	}
	.employ-right2{
		float: left;
		width: 27%;
	}
	.employ-right2 {
		border-top: 1px solid #b1b1b1;
	}
	.employ-left2 h5 span {
		margin-left: 15px;
	}
	.employ-left2 p {
		padding-right: 3.8em;
	}
	.employ-right ,.employ-left,.employ-right2 ,.employ-left2{
		min-height: 177px;
	}
	.contact-form input#uploadFile {
		width: 77%;
	}
}
@media (max-width: 568px){
	.header-left {
		float: left;
		width: 100%;
	}
	.pro-pic img {
		padding: 12px;
	}
	.pro-pic {
		width: 28%;
		float: left;
	}
	.pro-text h1 {
		margin: 26px 0 16px;
	}
	.header-right {
		width: 77%;
		margin-top: 27px;
	}
	.employ-right h5 ,.employ-left2 h5{
		margin-bottom: 8px;
	}
	h3.tittle {
		font-size: 28px;
	}
	h3.tittle:after, h3.tittle:before {
		margin: 4px 10px;
	}
	.numscroller {
		font-size: 15px;
		width: 87px;
		height: 87px;
		line-height: 81px;
	}
	.capabil-grid p {
		margin-top: 24px;
		font-size: 13px;
	}
	.num-scroller {
		min-height: 323px;
	}
	.thumb:hover ul li {
		margin: 36px 0px 0;
	}	
	.resp-tabs-list {
    margin: 1em 0 3em 0;
}
}
@media (max-width: 480px){
	.header-top ul li {
		margin-right: 22px;
	}
	.pro-pic img {
		padding: 8px;
	}
	.abt-left {
		padding: 40px 15px;
	}
	.abt-left {
		min-height: inherit;
	}
	.accordion-section-title {
		padding: 15px 0;
	}
	.abt-gd-left {
		padding-top: 0px;
	}
	.abt-gd-left {
		float: left;
		width: 100%;
	}
	.abt-right {
		min-height: inherit;
	}
	.abt-right {
		padding: 40px 0;
	}
	.abt-gd-left h4 {
		margin-top: 18px;
	}
	.abt-gd-left:nth-child(2) {
		margin: 24px 0;
	}
	.accordion-section-title {
		font-size: 14px;
	}
	.employment, .portfolio, .more, .contact {
		padding: 40px 0;
	}
	.employ-left h4, .employ-right2 h4 {
		font-size: 49px;
	}
	.employ-right h5, .employ-left2 h5 {
		font-size: 17px;
	}
	.about {
		padding: 40px 0 0;
	}
	p.abt-para {
		margin: 0 auto 40px;
	}
	h3.tittle {
		font-size: 24px;
	}
	h3.tittle:after, h3.tittle:before {
		width: 64px;
	}
	.capabil-grid {
		float: left;
		width: 100%;
		padding: 0;
	}
	.num-scroller {
		padding: 40px 0;
		min-height: inherit;
	}
	.capabil-grid {
		margin-top: 35px;
	}
	.capabil-grid p {
		margin-top: 14px;
	}
	.capabil-grid:nth-child(2) {
		margin: 0 !important;
	}
	.resp-tab-item {
		font-size: 14px;
		padding: 0 10px 8px 10px;
	}
	.resp-tabs-list {
		margin: 0em 0 1em 0;
	}
	.team-gd {
		padding: 0 15px;
		float: left;
		width: 50%;
		margin-top: 30px;
	}
	.thumb:hover ul li {
		margin: 54px 0px 0;
	}
	.progress {
		height: 28px;
		line-height: 26px;
		margin-bottom: 21px;
	}
	.progress-bar {
		line-height: 28px;
	}
	.more-right h4, .more-right2 h4 {
		font-size: 20px;
	}
	.more-right {
		float: left;
		width: 73%;
	}
	.more-left {
		float: left;
		width: 20%;
	}
	.more-right2 {
		float: left;
		width: 73%;
	}
	.scrollbar {
		height: 260px;
	}
	div#ascrail2001 {
		height: 260px !important;
	}
	.contact-form input#uploadFile {
		width: 72%;
	}
	.contact-right iframe {
		height: 226px;
	}
	p.copy-right {
		font-size: 13px;
	}
	.more h3, .contact h3 {
		margin-bottom: 42px;
	}
	.portfolio-modal .close-modal {
		width: 52px;
		height: 52px;
	}
	.portfolio-modal .close-modal .lr .rl,.portfolio-modal .close-modal .lr {
		height: 44px;
	}
.thumb:hover ul li {
    margin: 45px 0px 0;
}	
}
@media (max-width: 414px){
	.header-right {
		width: 100%;
	}
	.pro-pic {
		width: 33%;
	}
	.accordion-section ul li {
		font-size: 13px;
	}
	.employ-right p ,.employ-left2 p{
		line-height: 2em;
	}
	.employ-right ,.employ-left2{
		padding: 16px 0px 0px 0px;
	}
	.team-gd {
		padding: 0 8px;
		float: left;
		width: 50%;
		margin-top: 16px;
	}
	.thumb:hover ul li {
		margin: 36px 0px 0;
	}
	.contact-form {
		padding: 20px 20px;
	}
	.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea,.contact-form input#uploadFile {
		padding: 8px 10px;
		font-size: 13px;
		margin-bottom: 16px;
	}
	p.copy-right {
		margin-top: 26px;
	}
	.contact-form input#uploadFile {
		width: 67%;
	}
.header-top ul li {
    margin-right: 14px;
}
h3.tittle:after, h3.tittle:before {
    width: 29px;
}	
}
@media (max-width: 384px){
	.header-top ul li a {
		font-size: 13px;
	}
	.header-top ul li {
		margin-right: 10px;
	}
	.pro-text h1 {
		margin: 17px 0 16px;
	}
	.header-right {
		margin-top: 17px;
	}
	a.accordion-section-title span {
		font-size: 13px;
	}
	.abt-left h2 {
		font-size: 23px;
		margin-bottom: 25px;
	}
	a.accordion-section-title span {
		font-size: 13px;
	}
	.accordion i {
		margin: 0px 10px 0 0;
	}
	
	h3.tittle {
		font-size: 24px;
	}
	.accordion-section-title {
		font-size: 13px;
	}
	.progress p {
		font-size: 13px;
	}
	.more-right {
		float: left;
		padding: 10px 10px 10px 13px;
		width: 80%;
	}
	.more-right2{
		float: left;
		padding: 10px 13px 10px 10px;
		width: 80%;	
	}
	.employ-right2 {
		padding: 53px 0px 0px 15px;
	}
	.employ-left {
		padding: 53px 15px 0px 0px;
	}
	.more-left span {
		font-size: 27px;
	}
	.contact-right {
		margin-top: 33px;
	}
	.contact-right iframe {
		height: 182px;
	}
	p.copy-right {
		line-height: 2em;
	}
	.contact-form input#uploadFile {
		width: 64%;
	}
	.thumb:hover ul li {
		margin: 27px 0px 0;
	}	
}
@media (max-width: 375px){
	
}
@media (max-width: 320px){
	.header-top ul li a span {
		margin-right: 4px;
	}
	.header-top ul li {
		line-height: 2.2em;
		margin-right: 71px;
	}
	.header-top {
		padding: 3px 0;
	}	
	.pro-text {
		width: 63%;
	}
	.pro-text h1 {
		margin: 9px 0 16px;
	}
	.pro-pic {
		width: 37%;
	}
	.portfolio-modal .close-modal {
		top: 10px;
		right: 11px;
	}
	.portfolio-modal .close-modal .lr .rl, .portfolio-modal .close-modal .lr {
		height: 30px;
	}
	a.accordion-section-title span {
		margin: 0 0px 6px 0;
		text-align: center;
	}
	.accordion-section-title {
		text-align: center;
	}
	.accordion i {
		margin: -14px 10px 0 0;
	}
	.accordion-section-title {
		padding: 12px 0;
	}
	.accordion-section-content {
		text-indent: 0.5em;
	}
	h3.tittle {
		font-size: 22px;
	}
	h3.tittle:after, h3.tittle:before {
	    width: 25px;
		margin: 2px 5px;
	}
	.employ-left {
		float: left;
		width: 20%;
	}
	.employ-right {
		float: right;
		width: 80%;
	}
	.employ-right p {
		padding-left: 1em;
	}
	.employ-left h4, .employ-right2 h4 {
		font-size: 41px;
	}
	.employ-left2 p {
		padding-right: 1em;
	}
	a.accordion-section-title span {
		margin: 0 0px 6px 0;
		text-align: center;
		display: block;
	}
	.resp-tab-item {
		margin: 0 3px;
	}
	.fb_icon1 {
		background: url(../images/search.png) no-repeat -2px -2px #000;
		width: 43px;
		height: 43px;
	}
	.thumb:hover ul li {
		margin: 21px 0px 0;
	}
	.portfolio-modal .modal-content h3 {
		margin: 0 0 23px 0px;
	}
	.progress-bar.progress-bar-success,.progress-bar.progress-bar-success1,.progress-bar.progress-bar-success2,.progress-bar.progress-bar-success3,.progress-bar.progress-bar-success4 {
		width: 37% !important;
	}
	.contact-form textarea {
		min-height: 95px;
	}
	.contact-form input#uploadFile {
		width: 57%;
	}
	.fileUpload {
		margin: 0 10px;
	}
	.fileUpload.btn {
		padding: 6px 15px;
	}
	.team-gd {
		padding: 0 3px;
		float: left;
		width: 50%;
		margin-top: 8px;
	}
}


